@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-h: 6em;
    --logo-top: calc(var(--navbar-h) / 2);
    --vertical-menu-h: calc(100vh - var(--navbar-h));
    --vertical-menu-w: 50vw;
    --vertical-menu-pt: 2em;
    --vertical-sub-cat-pos: calc(var(--navbar-h) + var(--vertical-menu-pt));
    --sub-cat-h: 2em;
    --main-carousel-ctn-h: 600px;
    --main-carousel-ctl-pos: calc(var(--main-carousel-ctn-h) / 2)
}
